body {
    font-family:sans-serif ;
}
header{ 
    background: #0776A0;
    padding: 10px ;
}
a{ 
    text-decoration: none;
    border-radius:10px ;
    color:black ;
    background: FFB ;
    font-size:10px ;
}
h1{ 
    text-align: center  ;
}
h2{ 
    color:red ;
}
ul{ 
    list-style: url(https://learn.algoritmika.);
    margin-left: 42px;
    font-size:24px ;
}
.prazdniki{ 
    border-top: #024C68;
    border-bottom:5px solid black ;
    text-align: center;
}
